* {
    margin: 0;
    padding: 0;
    background-color: rgb(117, 114, 114);
}

body {
    display: flex;
    flex-direction: column;
    gap: 25px;
    align-items: center;
    justify-content: center;
}
.container {
    background-color: rgb(84, 58, 58);
    display: flex;
    padding: 20px;
    width: 330px;
    height: 500px;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border: solid rgb(45, 45, 45) 5px;
    border-radius: 25px;
}
.screen {
    background-color: rgb(29, 109, 29);
    height: 80px;
    width: 70%;
    display: flex;
    flex-direction: column-reverse;
    align-items: flex-end;
    border: solid black 1px;
}
.result{
    background-color: rgb(29, 109, 29);
    font-size: 40px;
    letter-spacing: 5px;
    word-wrap: break-word;
    word-break: break-all;
}
.operation{
    background-color: rgb(29, 109, 29);
    font-size: 25px;
    letter-spacing: 5px;  
    word-wrap: break-word;
    word-break: break-all;
}

.keyboard {
    background-color: rgb(84, 58, 58);
    padding: 20px;
    height: 400px;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 20px;
}
.row {
    height: 18%;
    width: 100%;
    display: flex;
    justify-content: space-between;
    background-color: rgb(84, 58, 58);
}
.btn {
    height: 100%;
    width: 20%;
}
.duoBtn {
    height: 100%;
    width: 40%;
}